# sender e-mail
GMAIL_USER = "someone@gmail.com"  

# sender password
GMAIL_PASSWORD = "mySecretGmailPassword" 

# who should receive e-mails
RECIPIENTS = ["someone@domain.com", "test@otherdomain.com"]
    
# when debug is enabled, the volume treshhold for triggering the voice messages is much lower, for easy testing. Also less annoying voice messages and e-mails are not really sent, only logged.
DEBUG = True

# Optional e-mail and name. Sender of the e-mail. Not guaranteed to display in all mail clients.

# FROM_NAME = "Bark Tracker"
# FROM_EMAIL = "bobby@dogmail.com"
