# when debug is enabled, the volume treshhold for triggering the voice messages is much lower, for easy testing. Also less annoying voice messages and e-mails are not really sent, only logged. Keep on False unless you want to dig into the code.
DEBUG = False

######################
### GMAIL SETTINGS ###
######################

# sender e-mail - uses GMail settings for outoing e-mail. Replace the GmailSender with something else if you don't want to use a gmail account. If you use two step verification, use an app password. Your Gmail account might have to be set to 'allow unsafe apps'. 
GMAIL_USER = "someone@gmail.com"  

# sender password
GMAIL_PASSWORD = "mySecretGmailPassword" 

# who should receive e-mails
RECIPIENTS = ["someone@domain.com", "test@otherdomain.com"]
    
# Optional e-mail and name. Sender of the e-mail. Not guaranteed to display in all mail clients.

# FROM_NAME = "Bark Tracker"
# FROM_EMAIL = "bobby@dogmail.com"


######################
### SONOS SETTINGS ###
######################

# List of Sonos speakers IP addresses

# SONOS_SPEAKER_IPS = ['192.168.1.13','192.168.1.15']
SONOS_SPEAKER_IPS = ['192.168.1.2']

# the URI of the channel that should be played on the Sonos speakers. Find it by running 
# sonosservice.py after filling at least one IP address above

SONOS_CHANNEL_URI = ''


######################
### BARK DETECTION ###
######################

# A bark can be detected by 
# 1. listening for peak volumes (USE_AI=False). This is easy, out of the box.
# 2. using a trained neural network for bark detection. Might need to be trained for your dog's bark.
# For 2. 
USE_AI = False

######################
### USING ML MODEL ###
######################

# When using AI, provide the path to your trained labels(AI_LABELS) and frozen graph (AI_GRAPH). 
# The label that is the 'trigger word' is defined in BARK_LABEL.
AI_LABELS = '/path/to/labels.txt'
BARK_LABEL = 'bark'
AI_GRAPH = '/path/to/graph.pb

#########################
### USING PEAK VOLUME ###
#########################

# When not using AI, provide the ambient volume, under which sound is not considered 'loud'. 
# You might have to play around with this value to get it right, depending on your microphone.
AMBIENT_DB = 0.25